<html>
<title>Distributed Systems</title>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>

<h1>Hello CS Students!</h1>
</head>
<body class="teal">

                <p>Enter A Text: <span id = "list"> </span></p>
                <input id="range" type="text"></input>
                <input type="submit" id="submit_data"  value="Enter">
                <hr>
<script></script>
</body>
</html>